        body {
            background-color: #FFFFFF;
            padding-left: 0px;
            margin: 0px;
        }
        
        h1 {
            color: white;
            text-align: center;
            padding-top: 40px; 
            padding-bottom: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
        }

        h2 {
            color: rgb(56, 56, 56);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-style: normal;
            font-weight: 300;
            margin-top: 130px;
            font-size: 26px;
        }

        h3 {
            color: rgb(56, 56, 56);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-style: normal;
            font-weight: 300;
            margin-top: 80px;
            font-size: 26px;
        }
        
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: rgb(56, 56, 56);
            margin-left: 32px;
            margin-right: 32px;
            line-height: 22px;
        }

        li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: rgb(56, 56, 56);
            margin-left: 20px;
            margin-bottom: 32px;
        }

        .aboutButton {
            border: none;
            /*display: inline-block;*/
            border-radius: 4px;
            padding: 10px 25px;
            /*margin-left: 215px;*/
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            /*added stuff*/
            float:right; 
            display:block; 
            margin-top: 20px; 
            /*margin-right: 20px;*/
        }

        .button{
            border: none;
            /*display: inline-block;*/
            border-radius: 4px;
            padding: 10px 25px;
            margin-left: 0px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            color: #FFFFFF;
            /*background-color: rgb(174, 0, 255);*/
            font-family: Arial, Helvetica, sans-serif;
            /*added stuff*/
            float:right;
            display:block; 
            margin-top: 20px; 
            /*margin-right: 20px;*/
        }

        .headerBox{
            background-color: rgb(209, 110, 255);
            padding-bottom: 10px;
            padding-top: 10px;
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 100%;

        }

        img {
            display: inline-block;
            margin-left: 10px;
            margin-right: auto;
            width:250px;
            vertical-align: middle;
        }

        a.button:hover {
            /*background-color: rgb(134, 0, 196);
            background-color: rgb(174, 0, 255);*/
            color: rgb(134, 0, 196);
        }

        a.aboutButton:hover {
            /*background-color: rgb(134, 0, 196);*/
            color: rgb(134, 0, 196);
        }

        .projectTable td {
            margin-left:10px;
        }

        .projectTable img {
            width:95%;
        }

        table.projectTable {
            margin-left: 32px;
            margin-right: 14px;
        }
        
        .dropbtn {
            font-size: 16px;
            border: none;
            /*display: inline-block;*/
            border-radius: 4px;
            padding: 10px 25px;
            margin-left: 0px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            color: #FFFFFF;
            background-color: rgb(209, 110, 255);
            font-family: Arial, Helvetica, sans-serif;
            /*added stuff*/
            float:right; 
            display:block; 
            margin-top: 20px; 
            /*margin-right: 40px;*/
        }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    /*display: inline-block;*/
    display:block;
    float:right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 55px; 
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(134, 0, 196);
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: rgb(134, 0, 196);}

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    /*font-family: Arial, Helvetica, sans-serif;*/
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(209, 110, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(134, 0, 196);
  }
  
  /* Add a background color and some padding around the form */
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


